# Ignorar archivos temporales de sistema
*.log
*.tmp
*.docx
*.pptx
*.rar
*.csv
*.xlsx
.DS_Store

# Ignorar carpetas
node_modules/
dist/
media/
venv/
staticfiles/

.env

# Excepto estos archivos
#!media/manuales/Manual_de_Usuario.pdf
!media/Manual_OperadorRESP.pdf
!Catalogo_Plazas.xlsx
!Catalogo_Programas.xlsx
!Catalogo_Proyectos.xlsx
!Catalogo_Unidades_Admvas.xlsx



